#primary #main {

}

article.drawings {
	padding-bottom: 1.5em !important;
}

header.entry-header {
	display: none;
}

#content #primary, #content header.page-header {
	max-width: 100%;
}

.drawings .post-thumbnail {
	margin-bottom: 0;
}


img.drawing-image {
	border-radius: 5px;
	transition: filter 0.5s;
}

img.drawing-image:hover {
	filter: brightness(120%);
}

/* MEDIUM SCREENS */
@media screen and (min-width: 30em) {
	#primary #main {
		column-count: 2;
	}

}

/* LARGE SCREENS */
@media screen and (min-width: 48em) {
	#primary #main {
		column-count: 3;
	}
}
