.grid-sizer {
	width: 100%;
}
.gutter-sizer {
	width: 0;
}
article.drawings {
	width: 100%;
	padding-bottom: 0 !important;
	margin-bottom: 2em;
}
a.post-link img, a.post-link:hover img, a.post-link:active img {
	opacity: 1;
}

header.entry-header {
	display: none;
}

#content #primary, #content header.page-header {
	max-width: 100%;
	margin-bottom: 0;
}

.drawings .post-thumbnail {
	margin-bottom: 0;
	line-height: 0;
}


img.drawing-image {
	border-radius: 5px;
}


/* MEDIUM SCREENS */
@media screen and (min-width: 30em) {
	.grid-sizer {
		width: 48%;
	}
	article.drawings {
		width: 48%;
		margin-bottom: 4%;
	}
	.gutter-sizer {
		width: 4%;
	}

}

/* LARGE SCREENS */
@media screen and (min-width: 48em) {
	.grid-sizer {
		width: 31.33333%;
	}
	article.drawings {
		width: 31.33333%;
		margin-bottom: 3%;
	}
	.gutter-sizer {
		width: 3%;
	}
}
